.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    color: white;
    padding: 10px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.navbar a:hover {
    text-decoration: underline;
}

.logo img {
    height: 50px; /* Adjust size as needed */
    width: auto;
    margin-right: 20px;
    vertical-align: middle;
}
